/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Themes */
/* :root {
  --fontColor: #fff;
  --oppositeFont: #000;
  --colorBG: #000;
  --oppositeBG: #fff;
  --secondFontColor: #888484;
  --offsetColorBG: #141414;
  --tileBorderColor: 2px solid rgba(60, 60 ,60, 0.6);
  --tileOnRowBorderColor: 2px solid rgba(83, 83, 91, 0.75);
  --chartBarColor: rgba(70, 70, 70, 0.8);
  --invisibleBG: rgba(0, 0 ,0, 0.0);
  --greenBG: #588c4c;
  --yellowBG: #b89c3c;
  --darkGreyBG: #403c3c;
  --lightGreyBG: #888484;
	--shadowGrey: rgba(0, 0, 0, 0);
  --opaqueBG: rgba(0, 0, 0, 0.5);
  --uncheckedKey: #fff;
  --checkedKey: #fff;
  --white: #fff;
  --black: #000;
} */

.lightroot {
  --fontColor: #000;
  --oppositeFont: #fff;
  --colorBG: #fff;
  --oppositeBG: #000;
  --secondFontColor: #888484;
  --offsetColorBG: #fff;
  --tileBorderColor: 2px solid rgba(83, 83, 91, 0.3);
  --tileOnRowBorderColor: 2px solid rgba(83, 83, 91, 0.75);
  --chartBarColor: rgba(70, 70, 70, 0.8);
  --invisibleBG: rgba(0, 0 ,0, 0.0);
  --greenBG: #588c4c;
  --yellowBG: #b89c3c;
  --darkGreyBG: #403c3c;
  --lightGreyBG: #d8d4dc;
	--shaodwGrey: rgba(200, 200, 200, 0.4);
  --opaqueBG: rgba(255, 255, 255, 0.5);
  --uncheckedKey: #000;
  --checkedKey: #fff;
  --white: #fff;
  --black: #000;
}

/* Root Styling */
:root {

}

/* Fonts */
@font-face {
  font-family: NeueHelveticaBQ;
  src: url("NeueHelveticaBQ-Bold.woff2") format("woff");
}

@font-face {
  font-family: NYTKarnak;
  src: url("NYTKarnak-Text.woff2") format("woff");
}

/* General body styling */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--colorBG);
  color: var(--fontColor);
	font-family: 'NeueHelveticaBQ', sans-serif;
}

button {
  cursor: pointer;
	font-family: 'NeueHelveticaBQ', sans-serif;
}

/* Containers styling for flexbox and sizing */
#container {
	position: relative;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
}

#header-container {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
	height: 7vh;
  width: 100vw;
  border-bottom: 1px solid rgba(60, 60 ,60, 0.5);
}

#tile-container {
  position: relative;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: none;
}

/* Styling for header */
#header-container h1 {
	font-size: 2rem;
	font-family: NYTKarnak;
	letter-spacing: 0.2rem;
}

/* SVG Icon Styling */
svg {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: var(--oppositeBG);
  stroke-width: 2;
  width: 40px;
  height: 40px;
  margin: 0px 20px;
}

#score-icon,
#settings-icon {
  stroke-width: 4;
}

#scoreboard-button {
  stroke-width: 4;
  stroke-linejoin: miter;
  stroke-linecap: butt;
}

#settings-icon {
  stroke-width: 10;
  stroke-linejoin: miter;
  stroke-linecap: butt;
}

#settings-icon polyline {
  fill: var(--oppositeBG);
}

/* Styling for each row of tiles (mainly flexbox) */
#tile-container div {
  display: flex;
  flex-direction: row;
  border: none;
}

/* Styling for each tile */
#tile-container div div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
	min-width: 62.5px;
  min-height: 62.5px;
  margin: 2px;
	border: var(--tileBorderColor);
}

/* Styling to change tile border colour when selected */
#tile-container .on-row {
  border: var(--tileOnRowBorderColor);
}

/* Styling to shake current row of divs when answer is not valid */
@keyframes shake {
  0% { transform: translate(-6px) }
  10% { transform: translate(1px) }
  20% { transform: translate(8px) }
  30% { transform: translate(-2px) }
  40% { transform: translate(8px) }
  50% { transform: translate(0px) }
  60% { transform: translate(8px) }
  70% { transform: translate(-1px) }
  80% { transform: translate(-8px) }
  90% { transform: translate(0px) }
  100% { transform: translate(6px) }
}

.shake {
  animation: shake 0.5s;
}

/* Styling to make individual tiles jump when correct */
@keyframes jump {
  0% { transform: translate(0px, -5px) }
  5% { transform: translate(0px, -8px) }
  10% { transform: translate(0px, -12px) }
  15% { transform: translate(0px, -18px) }
  20% { transform: translate(0px, -24px) }
  25% { transform: translate(0px, -30px) }
  30% { transform: translate(0px, -24px) }
  35% { transform: translate(0px, -18px) }
  40% { transform: translate(0px, -12px) }
  45% { transform: translate(0px, -7px) }
  50% { transform: translate(0px, -2px) }
  55% { transform: translate(0px, -0px) }
  60% { transform: translate(0px, -0px) }
  65% { transform: translate(0px, -0px) }
  70% { transform: translate(0px, -3px) }
  75% { transform: translate(0px, -6px) }
  80% { transform: translate(0px, -7px) }
  85% { transform: translate(0px, -6px) }
  90% { transform: translate(0px, -3px) }
  95% { transform: translate(0px, -0px) }
  100% { transform: translate(0px, -0px) }
}

.jump {
  animation: jump 0.6s;
}

/* Keyboard Styling */
#keyboard-container {
  height: 170px;
  width: 450px;
}

#keyboard-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 5px 0px;
  height: 33%;
}

#keyboard-container div button {
  flex: 1;
  border-radius: 5px;
  border: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

/* Adding margin to second row of keyboard to account for space on each side */
#keyboard-row1 :first-child {
	margin-left: 22px;
}

#keyboard-row1 :last-child {
	margin-right: 22px;
}

/* Increasing size of 'Enter' and 'Back' keys on keyboard */
#keyboard-row2 :first-child,
#keyboard-row2 :last-child {
  flex: 1.5;
}

/* Colouring tiles*/
#tile-container div.green-color {
  background-color: var(--greenBG);
  color: var(--white);
  border: none;
}

#tile-container div.yellow-color {
  background-color: var(--yellowBG);
  color: var(--white);
  border: none;
}

#tile-container div.darkgrey-color {
  background-color: var(--darkGreyBG);
  color: var(--white);
  border: none;
}

#tile-container div.lightgrey-color {
  background-color: var(--lightGreyBG)
}

/* Colouring keys */
button.green-color-key {
  background-color: var(--greenBG);
  color: var(--checkedKey);
}

button.yellow-color-key {
  background-color: var(--yellowBG);
  color: var(--checkedKey);
}

button.darkgrey-color-key {
  background-color: var(--darkGreyBG);
  color: var(--checkedKey);
}

button.lightgrey-color-key {
  background-color: var(--lightGreyBG);
  color: var(--uncheckedKey);
}

/* Make tiles flip */
.flip {
    animation: 0.8s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

/* Style for pop-up message */
#popup {
	position: absolute;
	top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  border-radius: 5px;
	color: var(--oppositeFont);
  background-color: var(--oppositeBG);
	opacity: 0;
  z-index: 100;
}

#popup.popup-hide {
  opacity: 1.0;
}

/* Scoreboard Container */
#scoreboard {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: var(--opaqueBG);
}

#scoreboard.scoreboard-hide {
	display: none;
}

#scoreboard-container {
	position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
	align-items: center;
	min-width: 400px;
	padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--offsetColorBG);
	box-shadow: 0rem 0rem 1rem 0.5rem var(--shadowGrey);
}

#close-scoreboard-button {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	height: 1rem;
	width: 1rem;
	margin: 0rem;
	cursor: pointer;
}

#scores-container {
  display: flex;
  flex-direction: row;
	margin: 1rem 0rem;
}

#scores-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 3px;
}

#scores-container > div :first-child {
	margin-bottom: 0.2rem;
}

#scoreboard-container h3 {
	margin-top: 1rem;
	font-size: 24px;
}

#scoreboard-container h4 {
  font-size: 16px;
}

#scores-container .value {
  font-size: 32px;
  font-weight: 500;
}

#scores-container span {
  font-size: 12px;
  font-weight: 300;
}

/* Scoreboard Chart Styling */
#chart-score-container {
  width: 80%;
  margin: 5px;
}

#chart-score-container span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  color: var(--fontColor);
}

#chart-score-container > div > div.green-bar {
  background-color: var(--greenBG);
}

#chart-one,
#chart-two,
#chart-three,
#chart-four,
#chart-five,
#chart-six {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4px;
  align-items: center;
}

#bar-chart-1,
#bar-chart-2,
#bar-chart-3,
#bar-chart-4,
#bar-chart-5,
#bar-chart-6 {
  min-width: 8%;
  background-color: var(--chartBarColor);
  padding: 2px;
}

#chart-score-container p {
  color: var(--white);
  float: right;
  margin-right: 3px;
  margin-left: 3px;
}

/* Styling for clock & share container */
#clock-share-container {
  display: flex;
  flex-direction: row;
  align-items: center;
	margin: 1rem 0rem;
}

#clock-share-container.hide-clock-share {
  display: none;
}

#scoreboard-share-button {
	font-family: 'NeueHelveticaBQ', sans-serif;
}

/* Styling for countdown clock */
#countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  margin: 10px 25px;
}

#countdown-container h5 {
  font-size: 15px;
	margin-bottom: 0.25rem;
}

#countdown-container span {
  font-size: 32px;
}

/* Share Button Styling */
#share-container {
  padding: 10px 25px;
  border-left: 1px white solid;
}

#share-container button {
  color: var(--white);
  background-color: var(--greenBG);
  border: 0px;
  border-radius: 5px;
  width: 170px;
  padding: 5px 10px;
  font-size: 25px;
}

/* Settings Styling */
#settings-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: var(--opaqueBG);
}

#settings-container.hide {
	display: none;
}

#settings-container.settings-hide {
  display: none;
}

#settings-inner-container {
	position: relative;
  display: flex;
  flex-direction: column;
	align-items: center;
	width: 400px;
	border-radius: 0.5rem;
	background-color: var(--offsetColorBG);
	box-shadow: 0rem 0rem 1rem 0.5rem var(--shadowGrey);
}

#close-settings-button {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	height: 1rem;
	width: 1rem;
	margin: 0rem;
	cursor: pointer;
}

#settings-header,
#settings-hard-mode,
#settings-dark-theme,
#settings-high-contrast,
#settings-feedback,
#settings-community,
#settings-questions,
#settings-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
	width: 90%;
  padding: 1rem 0rem;
  border-bottom: 1.5px solid rgba(60, 60 ,60, 0.5);
}

#settings-header {
	justify-content: center;
}

#settings-footer,
#settings-header {
  border: none;
}

#settings-inner-container input[type="checkbox"] {
	accent-color: var(--greenBG);
	cursor: pointer;
}

.settings-extra-text {
  display: flex;
  flex-direction: column;
}

/* Settings text styling */
#settings-container h3 {
  font-size: 19px;
}

#settings-container span {
  font-size: 16px;
}

#settings-container p {
  color: var(--secondFontColor);
  font-size: 10px;
}

#settings-container a {
  color: var(--secondFontColor);
  font-size: 14px;
	text-decoration: none;
}

#settings-header button {
  border: 0px;
  cursor: pointer;
  background-color: var(--invisibleBG);
  color: var(--fontColor);
}
